aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
altair==5.5.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.10.0
attrs==23.2.0
babel==2.16.0
beautifulsoup4==4.12.2
blinker==1.9.0
blis==1.0.1
browser-cookie3==0.20.1
cachetools==5.5.2
cairocffi==1.7.1
CairoSVG==2.7.1
catalogue==2.0.10
certifi==2024.7.4
cffi==2.0.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.19.0
coloredlogs==15.0.1
confection==0.1.5
contourpy==1.3.0
cryptography==46.0.4
cssselect2==0.7.0
customtkinter==5.2.2
cycler==0.12.1
cymem==2.0.8
darkdetect==0.8.0
defusedxml==0.7.1
ecdsa==0.19.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
filelock==3.16.1
Flask==3.1.0
flatbuffers==24.12.23
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.12.0
fuzzywuzzy==0.18.0
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.40.3
google-genai==1.33.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
idna==3.7
imageio==2.36.1
instaloader==4.15
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
langcodes==3.4.1
language_data==1.2.0
lazy_loader==0.4
Levenshtein==0.26.1
llvmlite==0.43.0
lxml==5.3.0
lz4==4.4.5
macholib==1.16.3
marisa-trie==1.2.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
MouseInfo==0.1.3
mpmath==1.3.0
mss==10.0.0
multidict==6.1.0
murmurhash==1.0.10
narwhals==1.46.0
networkx==3.4.2
nltk==3.9.1
numba==0.60.0
numpy==2.0.2
onnxruntime==1.20.1
opencv-python-headless==4.10.0.84
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.3
Pillow==10.0.1
platformdirs==4.3.6
pooch==1.8.2
preshed==3.0.9
propcache==0.3.0
protobuf==5.29.2
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pycparser==2.22
pycryptodomex==3.23.0
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
PyGetWindow==0.0.9
Pygments==2.18.0
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
PyMatting==1.1.13
PyMsgBox==1.0.9
pyobjc-core==11.0
pyobjc-framework-Cocoa==11.0
pyobjc-framework-Quartz==11.0
pyparsing==3.1.4
pyperclip==1.9.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-jose==3.5.0
python-Levenshtein==0.26.1
pytweening==1.2.0
pytz==2024.2
RapidFuzz==3.11.0
razorpay==2.0.0
referencing==0.35.1
regex==2024.9.11
rembg==2.0.61
requests==2.31.0
rich==13.9.1
rpds-py==0.22.3
rsa==4.9.1
rubicon-objc==0.5.0
schedule==1.2.2
scikit-image==0.25.0
scipy==1.14.1
selenium==4.15.0
setuptools==75.1.0
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
streamlit==1.46.1
sympy==1.13.1
tenacity==9.1.2
textblob==0.18.0.post0
thinc==8.3.2
tifffile==2024.12.12
tinycss2==1.3.0
tkcalendar==1.6.1
toml==0.10.2
torch==2.5.1
torchvision==0.20.1
tornado==6.5.1
tqdm==4.66.5
trio==0.26.0
trio-websocket==0.11.1
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.2
undetected-chromedriver==3.5.5
urllib3==2.2.2
wasabi==1.1.3
weasel==0.4.1
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.16.0
wsproto==1.2.0
yarl==1.18.3
